<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create User</title>
</head>
<body>

<form th:method="POST" th:action="@{/admin/new}" th:object="${user}">
    <label for="name">Name</label><br/>
    <input id="name" type="text" th:field="*{name}"/>
    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Error</span>
    <br/>
    <label for="surname">Surname</label><br/>
    <input id="surname" type="text" th:field="*{surname}"/>
    <span th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}">Error</span>
    <br/>
    <label for="age">Age</label><br/>
    <input id="age" type="text" th:field="*{age}"/>
    <span th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Error</span>
    <br/>
    <label for="password">Password</label><br/>
    <input id="password" type="text" th:field="*{password}"/>
    <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Error</span>

    <br/>
    <label th:for="role" > Role <br/>
    <th:block th:each="role: ${rols}">
        <input th:type="checkbox" th:field="*{roles}" th:value="${role.getId()}" th:text="${role.getName()}"/>
    </th:block>
    </label>
    <span th:if="${#fields.hasErrors('roles')}" th:errors="*{roles}">Error</span>

    <br/><br/>
    <input type="submit" value="Create">
</form>
<br/>
<a href="/admin">Get back</a>
</body>
</html>