<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${user.getName()}">User</title>
    <style>
        .with-border {
            border: 1px black solid;
            margin: 4px;
            padding: 3px;
        }
    </style>
</head>
<body>
<a href="/logout" style="float: right"> Logout</a>

<h1>You are</h1>
<table style="border-collapse: collapse">
    <thead>
    <tr>
        <th class="with-border"> Id </th>
        <th class="with-border"> Name </th>
        <th class="with-border"> Surname </th>
        <th class="with-border"> Age</th>
        <th class="with-border"> Password</th>
        <th class="with-border"> Roles</th>


    </tr>
    </thead>
    <tbody>
    <tr>
        <td class="with-border" th:text="${user.getId()}">Name</td>
        <td class="with-border" th:text="${user.getName()}">Name</td>
        <td class="with-border" th:text="${user.getSurname()}">Name</td>
        <td class="with-border" th:text="${user.getAge()}">Name</td>
        <td class="with-border" th:text="${user.getPassword()}">Name</td>
        <td class="with-border" th:text="${user.getRoles()}">Roles</td>
    </tr>
    </tbody>
</table>

<br/>
<br/>
<a href="/admin" th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}"> Get back</a>

</body>
</html>